<div class="container">
  <h2>Meet the Staff</h2>
  <div class="col-md-6">
    <h3>Nick Powells</h3>
    <%= image_tag ("nick.jpg")%>
    <h2><small>CTO</small></h2>
    <h3><small>Nick's favorite quote:
      "If there are no dogs in Heaven, then when I die I want to go where they went."
      —Will Rogers</small></h3>
          <p>
            <br>
            Seasoned marketing executive Liz Allen has over 25 years’ experience leading global marketing strategy, brand development, and operations across a variety of industries. Passionate about building and turning around high-profile consumer brands, she’s been instrumental in ramping up marketing efforts—and results—at retail, technology, and consumer goods and services companies, such as Apple, Gap, LucasArts, Cost Plus World Market, and Boston Market.
Prior to Blurb, Liz was the Chief Marketing Officer for At Home, where she led all aspects of rebranding the home décor chain from Garden Ridge, including the naming, store design, website, advertising, corporate communications, and go-to market plans. She also established the marketing foundation for the company in preparation for a successful IPO. Liz also served as General Manager of Bella Pictures and Bella Events, two photography-based startups.
She spent her early career with advertising agencies in San Francisco and New York. Committed to all things marketing, including leading teams to success and encouraging up-and-coming marketers, Liz is a contributing lecturer and advisor at UC Berkeley’s Haas School of Business, the Academy of Art College, and the Miami Ad School. She is also a frequent speaker at marketing and technology conferences.
Recognized as a brand marketing expert with a balance of strategic, analytical, and creative skill sets, Liz spends her days thinking about how to delight the customer and allow them to showcase their creativity through Blurb.
When she takes off her marketing hat, she can often be found entertaining friends and family, taking dance classes, and joining the occasional flash mob. She’s also a Green Bay Packers fan.
      Todd joined Blurb in January 2016 and is excited to lead Blurb to its next level of growth and success.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Jason Ainsworth</h3>
    <%= image_tag ("json.jpg")%>
    <h2><small>CEO</small></h2>
    <h3><small>Jason's favorite quote:
"Be yourself; everyone else is already taken."
—Oscar Wilde
<br><br>
Jason's first Blurb Book:
A beautiful collection of photographs documenting his son’s first year, complete with snaps of fabulous friends and amazing adventures. (Only seven more books to go!)</small></h3>
          <p>
            <br>
            Growing up as a teenager in the 80s, Todd Larsen worked summer jobs for the local newspaper chain, while diving deeply into online services and other technologies as an early adopter. He has worked much of his 27-year media career at that intersection of traditional media and digital technology.
      Todd spent 13 years at Dow Jones, growing the digital business of the Wall Street Journal from a fledgling paid service to a $300 million high margin engine for the company. He served as the company's president for two years, overseeing a $2 billion P&L, including both consumer and business to business divisions.
      At Time Inc., Todd served as an Executive Vice President and President of the News and Sports titles (Time, Fortune, Sports Illustrated) before adding responsibility for People and Entertainment Weekly. He focused on jump-starting the digital and video efforts for the company, driving the total audience of Time Inc. from 50 million per month in unique visitors to more than 100 million unique visitors in just two years. He also created the video team, which has become a major revenue growth driver for the company.
      Todd joined Blurb in January 2016 and is excited to lead Blurb to its next level of growth and success.
    </p>
  </div>
</div>
