@import "bootstrap-sprockets";
@import "bootstrap";

.content-wrapper {
  padding: 4em 0;
}
ul {
  padding: 0;
  list-style: none;
  li {

  }
}

.my-nav {
   padding-top: 1em;
   position: fixed;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.6);
   border-bottom: solid 1px #333;
   z-index: 10;
   ul {
     padding: 0;
     li {
       display: inline;
       margin-right: 1em;
       a {
         color: inherit;
       }
       img {
         height: 1em;
       }
     }
     .li-right {
       float: right;
     }
   }
 }

 .padding {
  padding-bottom: 2em;
}

.shelf-img {
  text-align: center;
  margin-bottom: 10em;
    h1 {
      margin-top: -140px;
    }
}

.cart {
  margin-top: 8em;
}

.color-block {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 55;
  .overlay {
    opacity: revert;
    z-index: 55;
    max-width: 800px;
    margin-top: 300px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 30px black;
    height: 50%;
    width: 75%;
    .exit {
      text-align: right;
      margin-right: .75em;
      margin-top: .5em;
      font-size: 20px;

    }
  }
}

.product-img {
  margin-left: 1em;
  width: 500px;
  height: 650px;
  position: fixed;
  background-repeat: no-repeat;
}

.img-in-grid {
  margin-left: 2em;
  border-radius: 10px;
  width: 350px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  }
