<div class="color-block">
  <div class="overlay">
    <div class="exit">
      <span>★</span>
    </div>
      <h1>name </h1>
      <h3>price </h3>
      <p>description </p>
      <p>category </p>
  </div>
</div>
