<% if is_admin? %>
<%= link_to "Add a Product", new_product_path, id: "new_product_link", class: "btn btn-default", remote: true  %>
<% end %>


<div class="container">
  <h2>Products</h2>
  <div class="products">
    <% @products.each do |product| %>
    <div class="col-sm-3">
      <%= image_tag product.avatar.url(:thumb) %>
      <p><%= link_to product.name, product, class: 'product', remote: true %></p>
    </div>
    <% end %>
  </div>
</div>
