<div class="form">
  <% if is_admin? %>
  <%= link_to "Add a Product", new_product_path, id: "new_product_link", class: "btn btn-default", remote: true  %>
  <% end %>

</div>

<div class="col-md-2 cat-div">
  <%= render "categories" %>
</div>


<div class="container col-md-10">
  <div class="products">
    <h2>Products</h2>
    <hr>
    <% @filter_products.each do |product| %>

      <%= render partial: 'product', locals: {a_product: product} %>

    <% end %>
  </div>
</div>
